:root {
  --color-bg-primary: #e5e5e5;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --color-aditional: #ffffff;
}
body {
  background: var(--color-bg-primary);
  font-family: Roboto, sans-serif;
  font-weight: 500px;
  color: var(--primary-text-color);
  text-decoration-line: none;
}
.logo {
  text-decoration: none;
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
h1,
h2 {
  text-decoration: none;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
header {
  background: #ffffff;
}
ul {
  list-style: none;
}
/* color: #757575;
color: #212121;
color: #2196F3; */
.blue {
  color: #2196f3;
}
.site-auth {
  text-decoration-line: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.site-nav {
  text-decoration-line: none;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-auth:hover,
.site-auth:focus {
  color: var(--accent-color);
}
.section-text {
  text-decoration-line: none;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-aditional);
}
.section-link {
  text-decoration: none;
}
.section-absac {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
footer {
  background: #2f303a;
}
.white {
  color: #ffffff;
}
.footer-kont {
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.jon {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.buttom-portfolio {
  text-decoration-line: none;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.buttom-portfolio:hover,
.buttom-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--color-aditional);
}
.buttom-primery {
  text-decoration-line: none;
}
.buttom-secondery {
  text-decoration-line: none;
  background-color: var(--accent-color);
  color: var(--color-aditional);
}
.linke {
  text-decoration-line: none;
}
.hiro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
